{{- if ne .Values.config.configMapEnabled false }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "warpstream-agent.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "warpstream-agent.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  # The config values below are not required in playground mode.
  {{- if not .Values.config.playground }}
    {{- if or .Values.config.ingestionBucketURL .Values.config.compactionBucketURL}}
      {{- if .Values.config.bucketURL }}
        {{- fail "bucketURL configuration value must not be set when setting ingestionBucketURL" }}
      {{- end }}
      {{- if not .Values.config.compactionBucketURL }}
        {{- fail "compactionBucketURL configuration value must be set when setting ingestionBucketURL" }}
      {{- end }}
      {{- if not .Values.config.ingestionBucketURL }}
        {{- fail "ingestionBucketURL configuration value must be set when setting compactionBucketURL" }}
      {{- end }}
  WARPSTREAM_INGESTION_BUCKET_URL: {{ .Values.config.ingestionBucketURL | quote }}
  WARPSTREAM_COMPACTION_BUCKET_URL: {{ .Values.config.compactionBucketURL | quote }}
    {{- else }}
      {{- if and (not .Values.config.bucketURL) (not (hasPrefix "vci_dl" .Values.config.virtualClusterID)) }}
        {{- fail "bucketURL or ingestionBucketURL configuration value must be set" }}
      {{- end }}
  WARPSTREAM_BUCKET_URL: {{ .Values.config.bucketURL | quote }}
      {{- if not .Values.config.virtualClusterID }}
        {{- fail "virtualClusterID configuration value must be set" }}
      {{- end }}
    {{- end }}
  WARPSTREAM_DEFAULT_VIRTUAL_CLUSTER_ID: {{ .Values.config.virtualClusterID | quote }}
    {{- if not .Values.config.region }}
      {{- if not .Values.config.metadataURL }}
        {{- fail "region or metadataURL configuration value must be set" }}
      {{- else }}
  WARPSTREAM_METADATA_URL: {{ .Values.config.metadataURL | quote }}
      {{- end }}
    {{- else }}
  WARPSTREAM_REGION: {{ .Values.config.region | quote }}
    {{- end }}
  {{- end }}
{{- end }}
