{{- if .Values.dedicatedMetricsPod.enabled -}}
{{- $fullName := (include "warpstream-agent.fullname" .) }}
apiVersion: apps/v1
kind: {{ include "warpstream-agent.deploymentKind" . }}
metadata:
  name: {{ include "warpstream-agent.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "warpstream-agent.labels" . | nindent 4 }}
    {{- if not (empty .Values.deploymentLabels) }}
      {{- toYaml .Values.deploymentLabels | nindent 4 }}
    {{- end }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "warpstream-agent.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum   }}
        {{- if .Values.config.apiKey }}
        checksum/secret-deprecated-api-key: {{ include (print $.Template.BasePath "/secret-deprecated-api-key.yaml") . | sha256sum }}
        {{- end }}
        {{- if .Values.config.agentKey }}
        checksum/secret-agent-key: {{ include (print $.Template.BasePath "/secret-agent-key.yaml") . | sha256sum }}
        {{- end }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "warpstream-agent.selectorLabels" . | nindent 8 }}
        {{- if not (empty .Values.podLabels) }}
          {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.schedulerName }}
      schedulerName: {{ . }}
      {{- end }}
      serviceAccountName: {{ include "warpstream-agent.serviceAccountName" . }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - metrics
            - -agentKeyPath=/app/agent-key/{{ include "warpstream-agent.agentKey.secretKey" . }}
            {{- range .Values.extraArgs }}
            - {{ . }}
            {{- end }}
          readinessProbe:
            httpGet:
              path: /v1/status
              port: http
            initialDelaySeconds: 30
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /v1/status
              port: http
            initialDelaySeconds: 30
            failureThreshold: 5
            periodSeconds: 5
          resources:
            {{- toYaml .Values.dedicatedMetricsPod.resources | nindent 12 }}
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: GOMAXPROCS
              {{- $cpuMillicoresRequest := .Values.dedicatedMetricsPod.resources.requests.cpu | include "convertToMillicores" -}}
              {{- $goMaxProcs := divf $cpuMillicoresRequest 1000 -}}
              {{- $goMaxProcs := ceil $goMaxProcs }}
              value: {{ $goMaxProcs | quote }}
          {{- if .Values.extraEnv }}
            {{- toYaml .Values.extraEnv | nindent 12 }}
          {{- end }}
          envFrom:
          {{- if ne .Values.config.configMapEnabled false }}
            - configMapRef:
                name: {{ include "warpstream-agent.fullname" . }}
          {{- end }}
          {{- with .Values.extraEnvFrom }}
          {{ toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: kafka
              containerPort: {{ .Values.containerPortKafka | default 9092 }}
              {{- if .Values.hostPortKafka }}
              hostPort: {{ .Values.hostPortKafka }}
              {{- end }}
              protocol: TCP
            - name: http
              containerPort: {{ .Values.containerPortHTTP | default 8080 }}
              protocol: TCP
          {{- if or (.Values.volumeMounts) (not .Values.config.playground) (.Values.certificate) }}
          volumeMounts:
            - name: agent-key
              mountPath: /app/agent-key
              readOnly: true
            {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
        {{- with .Values.sidecarContainers }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.hostAliases  }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or (.Values.volumes) (not .Values.config.playground) (.Values.certificate) }}
      volumes:
        - name: agent-key
          secret:
            secretName: {{ include "warpstream-agent.agentKey.secretName" . }}
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
{{- end }}
