# Need override os we have a static release name for certificates while testing
fullnameOverride: "playground-sts-cert"

config:
  playground: true

  # Set to 80s for tests so the tests don't take forever
  gracefulShutdownDuration: 80s

# testing with statefulset
deploymentKind: StatefulSet

certificate:
  # Set to true to enable TLS termination on the WarpStream agent
  # see TLS documentation for details https://docs.warpstream.com/warpstream/byoc/advanced-agent-deployment-options/protect-data-in-motion-with-tls-encryption#tls-encryption-overview
  enableTLS: true

  # The Kubernetes TLS secret that contains a certificate and private key
  # see https://kubernetes.io/docs/concepts/configuration/secret/#tls-secrets
  secretName: "ci-certificate"

  mtls:
    # Set to true to enable mutual TLS on the WarpStream agent, requires enableTLS set to true
    # see mTLS documentation for details https://docs.warpstream.com/warpstream/byoc/authentication/mutual-tls-mtls
    enabled: true

    # The secret key reference for the certificate authority public key
    # If not set, the container's root certificate pool will be used for mtls client certificate verification
    # It is recommend to always set this to your CA's public key and not rely on the root certificate pool
    # see mTLS documentation for details on why using the root certificate pool is not recommended
    certificateAuthoritySecretKeyRef:
      name: "ci-certificate-ca"
      key: "ca.crt"

# overriding resources so it fits on a runner
resources:
  requests:
    cpu: 500m
    memory: 2Gi
    # we do not need the disk space, but Kubernetes will count some logs that it emits
    # about our containers towards our containers ephemeral usage and if we requested
    # 0 storage we could end up getting evicted unnecessarily when the node is under disk pressure.
    ephemeral-storage: "100Mi"
  limits:
    memory: 2Gi

extraEnv:
  - name: WARPSTREAM_ADVERTISE_HOSTNAME_STRATEGY
    value: auto-ip4  # playground mode defaults to local so we need to override it for tests to pass

# Test resource settings
test:
  resources:
    requests:
      cpu: 1m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi
