image:
  repository: "public.ecr.aws/warpstream-labs/warpstream_agent"
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

revisionHistoryLimit: 10

# Ignored if auto-scaling is enabled (which it is by default).
replicas: 3

deploymentStrategy:
  type: RollingUpdate
  rollingUpdate:
    # The number of pods that can be created above the desired amount of pods during an update (both integers and percentages are supported)
    maxSurge: 1
    # The number of pods that can be unavailable during the update process (both integers and percentages are supported)
    maxUnavailable: 1

terminationGracePeriodSeconds: 300

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Specifies whether a service token should be mounted on pod
  automountServiceAccountToken: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  # name: ""

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # runAsNonRoot: true

service:
  type: ClusterIP
  port: 9092
  httpPort: 8080

rbac:
  create: true

headlessService:
  enabled: true

config:
  playground: false
  ## To learn what values to set for the config variables, look at our documentation
  ## for configuring the WarpStream Agents for production.
  ## https://docs.warpstream.com/warpstream/how-to/configure-the-warpstream-agent-for-production
  # bucketURL: "mem://mem_bucket"
  # apiKey: "YOUR_API_KEY"
  # virtualClusterID: "YOUR_VIRTUAL_CLUSTER_ID"
  # region: "us-east-1"

# Ensures that the Agents are configured with the recommended resources for production
# usage. We recommend that you do not set this to false except for in staging/dev
# environments.
enforceProductionResourceRequirements: true
resources:
  # Recommendations:
  #   1. At least 2 requests vCPUs per Agent, and only use whole numbers for CPUs
  #      because we set GOMAXPROCS to the value of requested CPUs.
  #      The Agents use the value of GOMAXPROCS to determine how many cores they have,
  #      (to avoid throttling) and size caches and other data structures in accordance
  #      with the number of available cores (which is assumed to scale linearly with
  #      the amount of available ram with a ratio of at least 4GiB of RAM per vCPU.
  #      Setting GOMAXPROCS lower than the number of requested CPUs would prevent
  #      the Agents from utilizing all of the available resources. Setting the value
  #      higher may lead to OOMs as the Agents try to use more RAM than they actually
  #      have available.
  #   2. At least 4GiB of RAM per vCPU.
  #   3. Run on dedicated network optimized instances (m6in class in AWS) for high volume
  #      use-cases.
  #   4. Keep memory requests and limits the same.
  requests:
    cpu: 2
    memory: 8Gi
    # we do not need the disk space, but Kubernetes will count some logs that it emits
    # about our containers towards our containers ephemeral usage and if we requested
    # 0 storage we could end up getting evicted unnecessarily when the node is under disk pressure.
    ephemeral-storage: "100Mi"
  limits:
    memory: 8Gi
    ephemeral-storage: "100Mi"

extraEnv: []
# Add additional environment settings to the pod. Can be useful in proxy
# environments

volumeMounts: []
# Add any volumeMounts to the pod.

extraArgs: []
# Add additional args settings to the pod.

nodeSelector: {}

tolerations: []

affinity: {}

## Topology Spread Constraints
## ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/
topologySpreadConstraints: []

priorityClassName: ""

# Optional horizontal pod autoscaler.
autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 30
  targetCPU: "60"
  targetMemory: ""
  behavior: {}

# Optional disruption budget. Enabled by default to minimize disruption during deploys.
pdb:
  create: true
  # This *could* be replaced with minAvailable: "90%" for large deployments, however,
  # that can be problematic if az-aware routing is enabled because the PDB is not
  # az-aware and a 10% disruption could mean a loss of 30% capacity in a single zone.
  maxUnavailable: 1

serviceMonitor:
  ## If true, a ServiceMonitor CRD is created for a prometheus operator
  ## https://github.com/coreos/prometheus-operator
  ##
  enabled: false
  path: /metrics
  labels: {}
  interval: 30s
  scheme: http
  tlsConfig: {}
  scrapeTimeout: 30s
  relabelings: []
  metricRelabelings: []
  targetLabels: []
  honorLabels: true

prometheusRule:
  ## If true, a PrometheusRule CRD is created for a prometheus operator
  ## https://github.com/coreos/prometheus-operator
  ##
  enabled: false
  labels: {}
  groups:
    - name: groupName
      rules:
      - alert: alertName
        expr: 'alert expression'
        for: 5m
        labels:
          severity: high
        annotations:
          identifier: 'Alert identifier.'
          msg: Alert message.

## list of hosts and IPs that will be injected into the pod's hosts file
hostAliases: []
  # - ip: "127.0.0.1"
  #   hostnames:
  #   - "foo.local"
  #   - "bar.local"

# Labels to be added to each agent pod
podLabels: {}

# Optional initContainers definition
initContainers: []

# Optional volume definition
volumes: []

## Use an alternate scheduler
## ref: https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/
##
# schedulerName: default-scheduler
