name: Lint & Test Charts

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.list-changed.outputs.changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }}

  test:
    runs-on: ubuntu-latest
    needs: lint
    if: needs.lint.outputs.changed
    strategy:
      matrix:
        # When adding or removing shards don't forget to update the `--shard-count` flag bellow
        shard: [0, 1, 2, 3, 4, 5, 6, 7, 8]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Create Playground Account for Tests
        run: |
          playground_account_raw=`curl https://api-secure.warpstream.com/api/v1/signup -X POST -H "Content-Type: application/json" -d '{"primary_user_first_name": "chart-ci", "primary_user_last_name": "Account", "tenant_name": "chart-ci-organization-'$(uuidgen)'", "primary_user_email": "chart-ci-email@'$(uuidgen)'", "primary_user_password": "chart-ci-password-'$(uuidgen)'", "is_demo": true}'`

          export DefaultVirtualClusterID=`echo ${playground_account_raw} | jq -r .DefaultVirtualClusterID`
          export DefaultVirtualClusterAgentKeySecret=`echo ${playground_account_raw} | jq -r .DefaultVirtualClusterAgentKeySecret`
          export DefaultVirtualClusterMetadataURL=`echo ${playground_account_raw} | jq -r .DefaultVirtualClusterMetadataURL`

          echo "DefaultVirtualClusterID=${DefaultVirtualClusterID}" >> $GITHUB_ENV
          echo "DefaultVirtualClusterAgentKeySecret=${DefaultVirtualClusterAgentKeySecret}" >> $GITHUB_ENV
          echo "DefaultVirtualClusterMetadataURL=${DefaultVirtualClusterMetadataURL}" >> $GITHUB_ENV

      - name: Generate Tests
        run: |
          ./hack/ci/scripts/generate-tests.sh

      - name: Create kind cluster
        uses: helm/kind-action@v1
        with:
          config: hack/ci/kind.yaml

      - name: Create Secret for Tests from Playground Account
        run: |
          kubectl create secret generic external-secret --from-literal=agentkey=${DefaultVirtualClusterAgentKeySecret}

      - name: Install Prometheus Operator
        run: |
          LATEST=$(curl -s https://api.github.com/repos/prometheus-operator/prometheus-operator/releases/latest | jq -cr .tag_name)
          curl -sL https://github.com/prometheus-operator/prometheus-operator/releases/download/${LATEST}/bundle.yaml | kubectl create -f -

      - name: Install & Initialize Cert Manager
        run: |
          kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.18.0/cert-manager.yaml
          # Wait for cert manager to start
          sleep 30
          kubectl apply -f hack/ci/manifests/cert-manager-ca.yaml
          # Wait for certificate to create
          sleep 30
          # Copy root ca secret to default ns so the tests can use the ca.crt key from it
          kubectl get secret root-secret -n cert-manager -o yaml | sed 's/namespace: cert-manager/namespace: default/' | kubectl apply -f -

      - name: Setup WarpStream Playground Cluster for benchmark test
        run: |
          kubectl create ns warpstream-benchmark-playground
          kubectl create deployment -n warpstream-benchmark-playground warpstream-benchmark-playground --image=public.ecr.aws/warpstream-labs/warpstream_agent:latest -- /warpstream playground
          kubectl set env -n warpstream-benchmark-playground deployment/warpstream-benchmark-playground WARPSTREAM_ADVERTISE_HOSTNAME_STRATEGY=auto-ip4
          kubectl create svc clusterip -n warpstream-benchmark-playground warpstream-benchmark-playground --tcp=9092:9092
          sleep 30
          kubectl exec -it -n warpstream-benchmark-playground deployments/warpstream-benchmark-playground -- /warpstream cli create-topic -topic ws-benchmark

      - name: Generate Certificate for TLS testing
        run: |
          mkdir /tmp/certificates
          cd /tmp/certificates
          mkdir -p ca/private
          chmod 700 ca/private
          
          # Generate CA
          openssl req -x509 -nodes -days 3650 -newkey rsa:4096 -keyout ca/private/ca_key.pem -out ca/ca_cert.pem -subj "/C=US/ST=Acme State/L=Acme City/O=Acme Inc./CN=example.com"
          
          # Create server private key and certificate request
          mkdir -p server/private
          chmod 700 ca/private
          openssl genrsa -out server/private/server_key.pem 4096
          openssl req -new -key server/private/server_key.pem -out server/server.csr -subj "/C=US/ST=Acme State/L=Acme City/O=Acme Inc./CN=WarpStream Agent" -addext 'subjectAltName = DNS:playground-sts-cert, DNS:playground-sts-cert-kafka, DNS:playground-sts-cert.default.svc.cluster.local, DNS:*.playground-sts-cert-headless.default.svc.cluster.local'
          
          # Create client private key and certificate request
          mkdir -p client/private
          chmod 700 client/private
          openssl genrsa -out client/private/client_key.pem 4096
          openssl req -new -key client/private/client_key.pem -out client/client.csr -subj "/C=US/ST=Acme State/L=Acme City/O=Acme Inc./CN=WarpStream Client"
          
          # Generate certificates
          openssl x509 -req -days 1460 -in server/server.csr -CA ca/ca_cert.pem -CAkey ca/private/ca_key.pem -CAcreateserial -out server/server_cert.pem -copy_extensions copyall
          openssl x509 -req -days 1460 -in client/client.csr -CA ca/ca_cert.pem -CAkey ca/private/ca_key.pem -CAcreateserial -out client/client_cert.pem -copy_extensions copyall
          
          # Create Kubernetes Secrets
          kubectl create secret tls ci-certificate --cert=server/server_cert.pem --key=server/private/server_key.pem
          kubectl create secret tls ci-certificate-client --cert=client/client_cert.pem --key=client/private/client_key.pem
          kubectl create secret generic ci-certificate-ca --from-file=ca.crt=ca/ca_cert.pem

      - name: Clone chart testing fork
        uses: actions/checkout@v5
        with:
          repository: warpstreamlabs/chart-testing
          ref: sharding
          fetch-depth: 0
          path: chart-testing
            
      - name: Install Chart Testing
        run: |
          cd ./chart-testing
          go install ./ct/

      - name: List Kubernetes Nodes
        run: |
          kubectl get nodes -o wide

      - name: Run chart-testing (install)
        run: ~/go/bin/ct install install --namespace default --target-branch ${{ github.event.repository.default_branch }} --upgrade --skip-missing-values --shard-count 9 --shard-num ${{ matrix.shard }}
